*.DS_Store
._*
__pycache__/
.ipynb_checkpoints
build/
build-amd64/
build-armhf/
amd64-opt/
armhf-opt/
armhf/
package
build-armhf
build-amd64
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
cmake-build-debug

tools/analog_gen
tools/chrony_socat
tools/gpio_timing
tools/posix_clocks
tools/pps_gen
